h1{
    color:rgb(255, 255, 255);
    text-align: center ;
    background-color: #004b25;
}
img{
    width: 300px;
}
body{
    text-align: center;
}
h2{
    color:rgb(255, 255, 255);
    text-align: center ;
    background-color: #004b25;
}